<!DOCTYPE html>
<html>
  <head>
    <title>Moulin rouge - pygal test platform</title>
    {% block js %}
      <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js.js') }}"></script>
    {% endblock js %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}" type="text/css" />
  </head>
  <body>
    <section>
      {% block section %}
      {% endblock section %}
    </section>
  </body>
</html>
