{% extends '_layout.jinja2' %}

{% block js %}
  <script type="text/javascript" src="http://l:2343/2.0.x/pygal-tooltips.js"></script>
{% endblock js %}

{% block section %}
  {% for svg in svgs %}
    <figure>
      {{ svg | safe }}
      <figcaption></figcaption>
    </figure>
  {% endfor %}
{% endblock section %}
