{% extends '_layout.jinja2' %}

{% block section %}
  {% for svg in svgs | sort(attribute='type') %}
    <figure>
      <embed src="{{ url_for('svg', type=svg.type, series=svg.series, config=svg.config) }}" type="image/svg+xml" width="{{ width }}" height="{{ height }}" />
      <figcaption>{{ svg.type }}</figcaption>
    </figure>
  {% endfor %}
{% endblock section %}
