/*
  -------------
  - FONT FACE -
  -------------
*/
@font-face {
  font-family: "philisopher";
  src: url(Philosopher.otf);
}


/*
  ----------
  - COMMON -
  ----------
*/
html {
  background: #fff url(img/back.png) repeat-x top left;
  border-top: 5px solid #d7393b;
}


body {
  font-family: "philisopher";
  font-size: 1.1em;
  margin: -50px 0 0;
  min-height: 100%;
  padding: 0 0 50px;
  display: block;
  width: 100%;
  position: absolute;
}

p {
  margin: 0;
  padding: 5px 0;
}

h2 {
  font-size: 1.7em;
}


h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
  margin: 0.8em 0 0.2em;
}

a {
  color: #ee6768;
}

a:hover, a:focus {
  color: #f69091;
}


/*
  ----------
  - HEADER -
  ----------
*/
body > header {
  background: url(img/ribbon.png) no-repeat center 145px;
  height: 250px;
  margin: 50px 0 0;
}

body > header h1 {
  margin: 0 0 0 5%;
}

body > header h1 a {
  background: url(img/logo.png) no-repeat top left;
  color: transparent;
  display: block;
  font-size: 0;
  height: 158px;
  width: 256px;
  transition: background 0.5s linear;
}

body > header h1 a:hover,
body > header h1 a:focus {
  background: url(img/logo-hover.png) no-repeat top left;
  color: transparent;
  font-size: 0;
  transition: background 0.5s linear;
}



/* 
  -------
  - NAV - 
  -------
*/
nav {
  font-size: 1.1em;
  position: absolute;
  top: 70px;
  right: 5%;
}

nav ul {
  display: inline;
  list-style: none;
}
 
nav ul li {
  background: #000;
  border: 1px solid #2a272a;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px;
}

nav ul li a {
  background: linear-gradient(#e95355, #d63739);
  border-bottom: 1px solid #e95355;
  border-radius: 2px;
  color: #1a171a;
  display: block;
  padding: 2px 8px;
  text-shadow: 1px 1px 1px #f29899;
} 

nav ul li a:hover, 
nav ul li a:focus {
  background: #f58283;
  color: #b42829;
  text-shadow: 1px 1px 1px #facbcc;
}


/* 
  -----------
  - SECTION - 
  -----------
*/
body > section {
  background: #151315;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  color: #c3c3c3;
  margin: 30px 10% 40px;
  padding: 10px 2%;
  width: 76%;
}

section ul li {
  list-style: disc;
}

section article {
  padding: 0 15px;
}

article section {
  padding: 10px 0;
}

section h2 {
  background: linear-gradient(#e95355, #d63739);
  border-bottom: 1px solid #e95355;
  border-radius: 4px; 
  color: #151315;
  margin: 20px -15px 0px;
  padding: 0.2em 10px 0.1em;
}

section section {
  background: url(img/article.png) repeat-x bottom left;
  margin: 0 15px;
  padding: 0.5em 0 1.5em;
}

section section:last-child {
  background: none;
}

section h3 {
  background: url(img/article-h3.png) repeat-y top left;
  margin: 20px -15px 8px;
  padding: 0.1em 15px;
}

section h3 a {
  color: #c3c3c3;
}

section h4 {
  color: #da3d3f;
}

section aside.caution > header {
  color: #feed6c;
  margin: .25em 1em .75em;
}

section aside.caution {
  margin: 10px;
  padding: 1em;
  border: 1px solid rgba(254, 237, 108, .5);
  background-color: #111;
}

section aside.topic {
  background: #000;
  border-radius: 5px;
  display: inline-block;
  padding: 15px 30px;
  margin-left: 50px;
}

section aside.topic > header {
  font-size: 1.5em;
}

section aside ul li {
  font-size: 1em;
  padding: 0.2em 0;
}

section aside ul li ul {
  margin-bottom: 5px;
}

section figure {
  text-align: center;
}

section pre {
  text-align: left;
  display: inline-block;
  margin: 1em;
  padding: 1em;
  background-color: #0a0a0a;
  border: 1px solid black;
}

section samp {
  background-color: #111;
  border: 1px solid black;
  margin: .5em;
  padding: .25em .5em;
  color: #9e6ffe;
}

section cite {
  font-style: normal;
  color: #9e6ffe;
  font-family: monospace;
}

section > p:first-of-type {
  padding-top: 20px;
}

section .thumbs embed {
  display: inline-block;
  border-radius: 15px;
  box-shadow: 0 0 5px #000;
  margin: 1em;
}

/* 
  ----------
  - FOOTER - 
  ----------
*/
footer {
  background: #151315;
  border-top: 1px solid #d63739;
  bottom: 0;
  font-size: 0.85em;
  height: 30px;
  text-align: center;
  position: absolute;  
  padding: 20px 0 0;
  display: block;
  width: 100%;
}

footer ul {
  padding: 25px 0 0;
}

footer ul li a {
  color: #6c6c6c;
  margin: 0 5px;
}


footer ul li a:hover, 
footer ul li a:focus {
  color: #8b8b8b;
}
