/* Base styles for pygal bar */

.bar .dataPointLabel {
    fill-opacity: 0;
    -webkit-transition: 250ms;
}

.bar:hover .dataPointLabel {
    fill-opacity: 0.9;
    fill: #000000;
}

.upGradientLight {
  stop-opacity: 0.4;
}

.downGradientLight {
  stop-opacity: 0.7;
}

.key, .fill {
    fill-opacity: 0.9;
    stroke: url(#shadow);
    stroke-width: 2px;
    -webkit-transition: 250ms;
}

.fill:hover {
    fill-opacity: 0.5;
}

.key1, .fill1 {
    fill: url(#light1);
}

.key2, .fill2 {
    fill: url(#light2);
}

.key3, .fill3 {
    fill: url(#light3);
}

.key4, .fill4 {
    fill: url(#light4);
}

.key5, .fill5 {
    fill: url(#light5);
}

.key6, .fill6 {
    fill: url(#light6);
}

.key7, .fill7 {
    fill: url(#light7);
}

.key8, .fill8 {
    fill: url(#light8);
}

.key9, .fill9 {
    fill: url(#light9);
}

.key10, .fill10 {
    fill: url(#light10);
}

.key11, .fill11 {
    fill: url(#light11);
}

.key12, .fill12 {
    fill: url(#light12);
}


.light1 {
  stop-color: #ff0000;
}

.light2 {
  stop-color: #0000ff;
}

.light3 {
  stop-color: #00ff00;
}

.light4 {
  stop-color: #ffcc00;
}

.light5 {
  stop-color: #00ccff;
}

.light6 {
  stop-color: #ff00ff;
}

.light7 {
  stop-color: #00ffff;
}

.light8 {
  stop-color: #ffff00;
}

.light9 {
  stop-color: #cc6666;
}

.light10 {
  stop-color: #663399;
}

.light11 {
  stop-color: #339900;
}

.light12 {
  stop-color: #9966FF;
}
