svg {
  background-color: {{ style.background }};
}

svg * {
  -webkit-transition: {{ style.transition }};
  -moz-transition: {{ style.transition }};
  transition: {{ style.transition }};
}

.graph > .background {
  fill: {{ style.background }};
}

.plot > .background {
  fill: {{ style.plot_background }};
}

.graph {
  fill: {{ style.foreground }};
}

.title {
  fill: {{ style.foreground_light }};
  font-size: {{ font_sizes.title }};
  text-anchor: middle;
}

.legends .legend text {
  font-family: monospace;  
  font-size: {{ font_sizes.legend }};
}

.legends .legend rect {
  fill-opacity: {{ style.opacity }};
}

.legends .legend:hover text {
  stroke: {{ style.foreground_light }};
}

.legends .legend:hover rect {
  fill-opacity: 1
}

.axis text {
  font-size: {{ font_sizes.label }};
  font-family: sans;
}

.axis.x text {
  font-family: monospace;
  text-anchor: middle;
}

.axis.x text[transform] {
  text-anchor: start;
}

.axis.y text {
  font-family: monospace;
  text-anchor: end;
}

.axis .line {
  stroke: {{ style.foreground_light }};
}

.axis .guide.line {
  stroke: {{ style.foreground_dark }};
  stroke-dasharray: 5,5;
}

.axis.x .guide.line {
  opacity: 0;
}

.axis.y .guides:hover .guide.line, .Line .axis.x .guides:hover .guide.line, .XY .axis.x .guides:hover .guide.line {
  stroke: {{ style.foreground_light }};
  opacity: 1;
}

.axis .guides:hover text {
  fill: {{ style.foreground_light }};
  opacity: 1;
}

.series .dots .dot circle {
  stroke-width: 1px;
}

.series .dots .dot:hover circle {
  stroke-width: 5px;
}

.series .rect, .series .slice {
  fill-opacity: {{ style.opacity }};
}

.series text {
  opacity: 0;
  font-size: {{ font_sizes.values }};
  text-anchor: middle;
  stroke: {{ style.foreground_light }};
  fill: {{ style.foreground_light }};
  text-shadow: 0 0 16px {{ style.background }};
}

.series .dot:hover text, .series .bar:hover text, .series .slice:hover text {
  opacity: 1;
}

.series .bar:hover .rect, .series .slice:hover path{
  fill-opacity: 1;
}

.series .line {
  fill: none;
  stroke-width: 1px;
}

.series .line:hover {
  fill: none;
  stroke-width: 2px;
}




{{ style.colors }}
