<!DOCTYPE html>
<html>
  <head>
    <title>Cabaret - Online pygal graph generator</title>
    <script type="text/javascript" src="{{ url_for('static', filename='components/jquery/jquery.js') }}"></script>  
    <script type="text/javascript" src="{{ url_for('static', filename='components/bootstrap/docs/assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="https://raw.github.com/Kozea/pygal.js/master/svg.jquery.js"></script>
    <script type="text/javascript" src="https://raw.github.com/Kozea/pygal.js/master/pygal-tooltips.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='components/bootstrap/docs/assets/css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}" type="text/css" />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="http://pygal.org/">Pygal Cabaret</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="side span4">
          {% block side %}
          {% endblock side %}
        </div>
        <div class="span8">
          {% block section %}
          {% endblock section %}
        </div>
      </div>
      <hr />
      <footer>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span4">
              <p class="time total-time"></p>
            </div>
            <div class="span4" style="text-align: center">
              <p class="time server-time"></p>
            </div>
            <div class="span4" style="text-align: right">
              <p class="pull-right">&copy; <a href="http://kozea.fr/">Kozea 2012</a></p>
            </div>
      </footer>
  </body>
</html>
