<!DOCTYPE html>
<html>
  <head>
    <title>Cabaret - Online pygal graph generator</title>
    <script type="text/javascript" src="{{ url_for('static', filename='components/jquery/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='components/bootstrap/docs/assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='components/bootstrap/docs/assets/css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='components/bootstrap/docs/assets/css/bootstrap-responsive.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}" type="text/css" />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Cabaret</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            {% block side %}
            {% endblock side %}
          </div>
        </div>
        <div class="span9">
          {% block section %}
          {% endblock section %}
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; Kozea 2012</p>
      </footer>
  </body>
</html>
