<!DOCTYPE html>
<html>
  <head>
    <title>Moulin rouge - pygal test platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}" type="text/css" />
  </head>
  <body>
    <section>
      {% block section %}
      {% endblock section %}
    </section>
  </body>
</html>
