{% extends '_layout.jinja2' %}

{% block section %}
  <a href="{{ url_for('all') }}">All types</a>
  <a href="{{ url_for('rotation') }}">Rotations test</a>
  <a href="{{ url_for('big_line') }}">Big line</a>
{% endblock section %}
