{% extends '_layout.jinja2' %}

{% block section %}
  {% for svg in svgs %}
    <figure>
      <embed src="{{ svg }}" type="image/svg+xml" />
      <figcaption></figcaption>
    </figure>
  {% endfor %}
{% endblock section %}
