html, body, section, figure {
  margin: 0;
  padding: 0;
}

li {
  display: block;
  overflow: auto;
  font-size: 1.5em;
}

li a {
  vertical-align: super;
}

figure {
  display: block;
  float: left;
  border: 1px solid #ccc;
}
