name: CI
concurrency:
  group: check-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    branches:
      - master
      - energy-efficiency
    tags:
      - v*
  pull_request:
    branches:
      - master
      - energy-efficiency
jobs:
  test:
    runs-on: '${{ matrix.os }}'
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '${{ matrix.python-version }}'
          cache: pip

      - run: pip install coveralls tox tox-gh

      # Eco-CI to monitor energy usage
      - name: Start Eco-CI
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - run: tox

      - run: coveralls
        continue-on-error: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          cache: pip
      - run: make install 
      - run: make lint
